@import "global/reset.css";
@import "global/color.css";
@import "global/type.css";
@import "global/layout.css";
@import "global/form.css";

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
  text-decoration: none;
}

.nav--links {
    display: flex;
    align-items: center;
}

.nav--links a:not(:last-child) {
    margin-right: var(--l--space-m);
}

.toggle {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}

.wedding--above,
.wedding--below {
    display: flex;
    justify-content: center;
}

.wedding--below {
    padding-top: var(--l--space-m);
    margin-bottom: var(--l--space-m);
}

.button {
    display: inline-block;
    padding: 0.5rem var(--l--space-m);
    background: black;
    color: white;
}

.button:hover {
  cursor: pointer;
  background: #222;
}

.wedding--above {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wedding--above p {
  max-width: 40rem;
  text-align: center;
}

.wedding--above img {
    width: 100px;
    height: auto;
}

.wedding--main {
    display: flex;
    justify-content: center;
}

.wedding h1 {
    margin-top: 0;
}

.wedding h2 {
    margin-top: 0;
}

.wedding--left, .wedding--right {
  flex: 0 1 25rem;
}

.wedding--left {
    text-align: right;
}

.wedding--middle {
    flex: 0 1 2px;
    height: 180px;
    background: var(--c--gray-20);
    margin: 0 var(--l--space-m);
}

svg image:nth-of-type(4n) {
  animation: moveOne 20s ease-in-out 0s infinite alternate;
}

svg image:nth-of-type(4n + 1) {
  animation: moveOne 20s ease-in-out -13s infinite alternate;
}

svg image:nth-of-type(4n + 2) {
  animation: moveOne 20s ease-in-out -17s infinite alternate;
}

svg image:nth-of-type(4n + 3) {
    animation: moveOne 20s ease-out -23s infinite alternate;
  }

@keyframes moveOne {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20%);
  }
}

@media (max-width: 750px) {

  .wedding--main {
    flex-direction: column;
  }

  .wedding--middle {
    flex: 0 1 2px;
    width: 100%;
    background: var(--c--gray-20);
    margin: var(--l--space-m) 0;
  }

  .wedding--left,
  .wedding--right {
    text-align: left;
    flex: 0 1 auto;
  }
}

@media (max-width: 650px) {
  .nav--links {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .nav--links a:not(:last-child) {
    margin-right: 0;
    font-size: var(--t--size-l);
    background: rgba(255, 255, 255, 0.9);
  }

  .nav--links a:last-child {
    margin-bottom: var(--l--space-s);
  }

  .nav--links a:not(:first-child):not(:last-child) {
    display: none;
  }

  .nav--links.visible a:not(:first-child):not(:last-child) {
    display: block;
  }

  .toggle {
    display: block;
  }

}

.hidden {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}