{% extends "../layouts/default.njk" %}

{% block main %}
    <div class="container main">
        <div class="wedding">
            <div class="wedding--above">
                <img src="/images/flower_1.png">
            </div>
            <div class="wedding--main">
                <div class="wedding--left">
                    <h1>Make a charitable gift</h1>
                    <p class="l--mar-btm-m">The Violence Policy Center (VPC) is an American nonprofit organization that advocates for gun control. The VPC approaches violence, and firearms violence in particular, as a public health issue affecting the whole population, rather than solely a criminal matter.</p>
                    <a href="https://act.myngp.com/Forms/-5780143629078951168" class="button" target="_blank">Donate to VPC</a>
                    </div>
                    <div class="wedding--middle"></div>
                    <div class="wedding--right">
                        <h1>Give to the couple</h1>
                        <p>We will use cash gifts to:</p>
                        <ul>
                            <li>Continue our culinary adventures</li>
                            <li>Explore Greece on our honeymoon</li>
                            <li>Keep Timothy well fed</li>
                        </ul>
                        <p class="l--mar-btm-s">Cash gifts may also be brought to the wedding reception.</p>
                        <a href="https://www.paypal.me/mattstrom" target="_blank" class="button">Give to the couple</a>
                    </div>
                </div>
                <div class="wedding--below">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="container home--footer l--pad-btm-m t--align-center">
    — Sasha and Matthew are getting married on May 2nd, 2020 in St. Louis Missouri —
    </div>
{% endblock %}