{% extends "../layouts/default.njk" %}

{% block main %}
    <div class="container main">
        <div class="wedding">
            <div class="wedding--above">
                <img src="/images/flower_8.png">
            </div>
            <div class="wedding--main">
                <div class="wedding--left">
                    <h1>Where to Stay</h1>
                    <h2><a href="https://www.sonesta.com/us/missouri/st-louis/chase-park-plaza-royal-sonesta-st-louis" target="_blank">The Chase Park Plaza</a></h2>
                    <p class="l--mar-btm-m">A beautiful hotel in the Central West End. The Chase Park Plaza is a 15 minute drive from the City Museum; shuttles will be running reguarly throughout the evening.</p>
                    <h2><a href="https://thelasthotelstl.com/" target="_blank">The Last Hotel</a></h2>
                    <p>The Last Hotel is a brand new boutique hotel in downtown St. Louis. It is adjacent to the City Museum!</p>
                </div>
                <div class="wedding--middle"></div>
                <div class="wedding--right">
                    <h1>What to do</h1>
                    <h2><a href="https://explorestlouis.com/things-to-do/neighborhoods/cherokee-street/" target="_blank">Visit Cherokee Street</a></h2>
                    <p>Cherokee Street is one of St. Louis's hidden gems. Unique shops, restauraunts, and bars line the street, run by an eclectic group of artists, musicians, and lifelong St. Louisans.</p>
                    <h2><a href="https://www.stlzoo.org/" target="_blank">Go to the Zoo</a></h2>
                    <p>The St. Louis Zoo is a world-class, family-friendly daytime adventure. The best part: it's free!</p> 
                </div>
            </div>
            <div class="wedding--below"></p>
        </div>
    </div>
</div>
<div class="container home--footer l--pad-btm-m t--align-center">
    — Sasha and Matthew are getting married on May 2nd, 2020 in St. Louis Missouri —
    </div>
{% endblock %}