{% extends "../layouts/default.njk" %}

{% block main %}
    <div class="container main">
        <div class="wedding">
            <div class="wedding--above">
                <img src="/images/flower_9.png">
            </div>
            <div class="wedding--main">
                <div class="wedding--left">
                    <h1>When</h1>
                    <h2>Saturday</h2>
                    <h2>May 2nd, 2020</h2>
                    <h2>6:00 pm - 11:00pm</h2>
                </div>
                <div class="wedding--middle"></div>
                <div class="wedding--right">
                    <h1>Where</h1>
                    <h2>The City Museum</h2>
                    <h2>St. Louis, Missouri</h2>
                    <h2><a href="https://goo.gl/maps/V9H78xd3xkWDAcAL8" target="_blank">Get directions</a></h2>
                </div>
            </div>
            <div class="wedding--below">
                <a class="button" href="/rsvp">RSVP</a>
            </div>
        </div>
    </div>
    <div class="container home--footer l--pad-btm-m t--align-center">
    — Sasha and Matthew are getting married on May 2nd, 2020 in St. Louis Missouri —
    </div>
{% endblock %}