<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="main.css" rel="stylesheet">
</head>

<body>
  <nav class="nav container l--mar-top-m">
    <div class="nav--logo">
      <a href="/">Sasha & Matthew</a>
    </div>
    <div class="nav--links">
      <a href="/wedding.html">The Wedding</a>
      <a href="/travel.html">Travel</a>
      <a href="/registry.html">Registry</a>
      <a class="button" href="/rsvp.html">RSVP</a>
    </div>
  </nav>
  {% block main %}
  {% endblock %}
  
</body>

</html>